In [1]:
import os
import pandas as pd

In [5]:
# setup file location and paths for the 2 csv files
path = r'C:\Users\Eric\Desktop\School\CS689\wk3'

ship = 'ShipLogbookID'
ship_file = os.path.join(path, ship + '.csv')

trip = 'CLIWOC15'
trip_file = os.path.join(path, trip + '.csv')

In [7]:
# read csv files into dataframes
ship_df = pd.read_csv(ship_file)
trip_df = pd.read_csv(trip_file)

C:\Users\Eric\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
# shape of the ship dataframe is 1873 rows and 4 columns
print(str(ship_df.shape[0]) + " rows and " + str(ship_df.shape[1]) + " columns.")

1852 rows and 4 columns.

In [35]:
# shape of the trip dataframe is 280280 rows and 141 columns
print(str(trip_df.shape[0]) + " rows and " + str(trip_df.shape[1]) + " columns.")

280280 rows and 141 columns.

In [21]:
# drop duplicates contained in the shipName and LogBookIdent columns, keeping the first row 
# and writing the result back to the same dataframe
ship_df.drop_duplicates(subset=['ShipName', 'LogbookIdent'], keep='first', inplace=True)

In [22]:
# shape of the ship dataframe is 1873 rows and 4 columns
ship_df.shape

(1852, 4)

In [25]:
# crete a left merged dataframe between trip and ship datafrmaes on the 
# ShipName and LogbookIdent columns
joined_set = trip_df.merge(ship_df, how='left', on=['ShipName', 'LogbookIdent'], indicator=True)

In [31]:
# output the new dataframe
joined_set.head()

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,ID,Duplicate_y,_merge
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 15",...,0,NaN,0,NaN,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U...",936.0,0.0,both
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both

In [52]:
# filters the joined_set where the merge column equals left_only
joined_set['_merge']=='left_only'

# combines that filter and selects only the shipName column from the joined_set DF
newkeys = joined_set[joined_set['_merge']=='left_only'][['ShipName']]

# drops dupes from the newkeys dataset
newkeys.drop_duplicates(subset=['ShipName'], keep='first', inplace=True)

# outputs newkeys shape
#newkeys
newkeys.shape

                    ShipName
123281  Margaretha Simonette
125091     Catharina Johanna
125868               Ternate
126379           Maas Nijmph
126594         Marij-Goddard
126777  Prins Veldmaarschalk
128053               Merwede
128500                 Eliza
128717     Olivier van Noord
129102            Unknown-04
129126            Unknown-05
132281            Lucipara's
145502            Unknown-08
146129            Unknown-09
146349              Hendrika
147515               Anthony
149671             Kortenaer
149750            Nederwaard
149955              Cortgene
150247                Europa
150966               Proteus
151706  Doctrina et Amicitia
151788                Mentor
152194          Java Koerier
152650   Gouverneur Elsevier
152940            Amphitrite
154225                Aurora
154619       Staatsraad Baud
157780              Walvisch
158461            Unknown-10
159448        Jacoba Maurina
162602                Nassau
164190      Twee Cornelissen
168751       Drie Gebroeders
169472      Prinses Marianne
173947               Jacobus
178693            Jan Daniel
187779        Stad Zierikzee
194776              Plancius
261875               Batavia
263311              Mercator
263642                 Bromo
263718             Estafette
263897              Cornelia
272448           L'hipocrite
279969             Amsterdam