In [1]:
import os
import pandas as pd

In [5]:
# setup file location and paths for the 2 csv files
path = r'C:\Users\Eric\Desktop\School\CS689\wk3'

ship = 'ShipLogbookID'
ship_file = os.path.join(path, ship + '.csv')

trip = 'CLIWOC15'
trip_file = os.path.join(path, trip + '.csv')

In [60]:
# read csv files into dataframes
ship_df = pd.read_csv(ship_file)
trip_df = pd.read_csv(trip_file)

In [61]:
# shape of the ship dataframe is 1873 rows and 4 columns
print(str(ship_df.shape[0]) + " rows and " + str(ship_df.shape[1]) + " columns.")

1873 rows and 4 columns.

In [62]:
# shape of the trip dataframe is 280280 rows and 141 columns
print(str(trip_df.shape[0]) + " rows and " + str(trip_df.shape[1]) + " columns.")

280280 rows and 141 columns.

In [63]:
# drop duplicates contained in the shipName and LogBookIdent columns, keeping the first row 
# and writing the result back to the same dataframe
ship_df.drop_duplicates(subset=['ShipName', 'LogbookIdent'], keep='first', inplace=True)

In [65]:
# shape of the ship dataframe is 1852 rows and 4 columns
ship_df.shape

(1852, 4)

In [66]:
# crete a left merged dataframe between trip and ship datafrmaes on the 
# ShipName and LogbookIdent columns
joined_set = trip_df.merge(ship_df, how='left', on=['ShipName', 'LogbookIdent'], indicator=True)

In [67]:
# output the new dataframe
joined_set.head()

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,ID,Duplicate_y,_merge
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 15",...,0,NaN,0,NaN,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U...",936.0,0.0,both
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both

In [68]:
# filters the joined_set where the merge column equals left_only
joined_set['_merge']=='left_only'

# combines that filter and selects only the shipName column from the joined_set DF
newkeys = joined_set[joined_set['_merge']=='left_only'][['ShipName']]

# drops dupes from the newkeys dataset
newkeys.drop_duplicates(subset=['ShipName'], keep='first', inplace=True)

# outputs newkeys shape, 46 rows 1 column
#newkeys
newkeys.shape

(46, 1)

In [69]:
# appends the newkeys back to the ship_df 
# sort set to avoid functionality change warning
ship_df = ship_df.append(newkeys, ignore_index=True, sort=True)
ship_df

      Duplicate   ID       LogbookIdent     ShipName
0           0.0  1.0    MAR_D23905_1164  Abel Tasman
1           0.0  2.0  NMM RUSI/NM/180/6       Acasta
2           0.0  3.0  NMM RUSI/NM/180/9       Acasta
3           0.0  4.0      NMM ADM/L/A17       Active
4           0.0  5.0      NMM ADM/L/A19       Active
...         ...  ...                ...          ...
1893        NaN  NaN                NaN        Bromo
1894        NaN  NaN                NaN    Estafette
1895        NaN  NaN                NaN     Cornelia
1896        NaN  NaN                NaN  L'hipocrite
1897        NaN  NaN                NaN    Amsterdam

[1898 rows x 4 columns]

In [83]:
# stores ship names and nationality from trip_df
NationalityInfo = trip_df.loc[:,['ShipName','Nationality']]

# drops duplicates based on shipName
NationalityInfo.drop_duplicates(subset=['ShipName'], keep= 'first', inplace=True)

In [89]:
# merges nationality info back to ship_df based on shipName
ship_df['Nationality']=ship_df.merge(NationalityInfo, on=['ShipName'], how='left', indicator=True)['Nationality']

KeyError: 'Nationality'

In [92]:
ship_df.iloc[0:19,:]

,Duplicate,ID,LogbookIdent,ShipName,Nationality
0,0.0,1.0,MAR_D23905_1164,Abel Tasman,Dutch
1,0.0,2.0,NMM RUSI/NM/180/6,Acasta,British
2,0.0,3.0,NMM RUSI/NM/180/9,Acasta,British
3,0.0,4.0,NMM ADM/L/A17,Active,British
4,0.0,5.0,NMM ADM/L/A19,Active,British
5,0.0,6.0,NMM ADM/L/A22,Adamant,British
6,0.0,7.0,NMM ADM/L/A23,Adamant,British
7,0.0,8.0,MAR_D23905_20,Adder,Dutch
8,0.0,9.0,VOC_152_11420,Admiraal de Ruyter,Dutch
9,0.0,10.0,A2419(1)_1-300,Admiraal Evertsen,Dutch
10,0.0,11.0,"Extract P, Reis 9a, pp 110-118",Admiraal Jan Evertsen,Dutch
11,0.0,12.0,"Extract P, Reis 9d, pp 138-145",Admiraal Jan Evertsen,Dutch
12,0.0,13.0,"Extract P, Reis 9e, pp 147-154",Admiraal Jan Evertsen,Dutch
13,0.0,14.0,"Extract P, Reis 9f, pp 155-162",Admiraal Jan Evertsen,Dutch
14,0.0,15.0,"Extract P, Reis 9g, pp 164-172",Admiraal Jan Evertsen,Dutch
15,0.0,16.0,BL L/MAR/B/498B,Admiral Pocock,British
16,0.0,17.0,BL L/MAR/B/498G,Admiral Pocock,British
17,0.0,18.0,BL L/MAR/B/623C,Admiral Vernon,British
18,0.0,19.0,VOC_152_5055,Africa,Dutch