In [1]:
import os
import pandas as pd

In [5]:
# setup file location and paths for the 2 csv files
path = r'C:\Users\Eric\Desktop\School\CS689\wk3'

ship = 'ShipLogbookID'
ship_file = os.path.join(path, ship + '.csv')

trip = 'CLIWOC15'
trip_file = os.path.join(path, trip + '.csv')

In [7]:
# read csv files into dataframes
ship_df = pd.read_csv(ship_file)
trip_df = pd.read_csv(trip_file)

C:\Users\Eric\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (5,6,7,8,11,13,18,19,23,24,25,26,28,29,30,34,35,38,43,44,46,73,77,81,82,84,85,87,88,94,96,97,98,99,111,114,116,119,120,122,124,125,127,129,131,133,135,137,140) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
# shape of the ship dataframe is 1873 rows and 4 columns
ship_df.shape

(1873, 4)

In [18]:
# shape of the trip dataframe is 280280 rows and 141 columns
trip_df.shape

(280280, 141)

In [21]:
ship_df.drop_duplicates(subset=['ShipName', 'LogbookIdent'], keep='first', inplace=True)

In [22]:
# shape of the ship dataframe is 1873 rows and 4 columns
ship_df.shape

(1852, 4)

In [25]:
# crete a left merged dataframe between trip and ship datafrmaes on the 
# ShipName and LogbookIdent columns
joined_set = trip_df.merge(ship_df, how='left', on=['ShipName', 'LogbookIdent'], indicator=True)

In [31]:
# output the new dataframe
joined_set.head()

,RecID,InstAbbr,InstName,InstPlace,InstLand,NumberEntry,NameArchiveSet,ArchivePart,Specification,LogbookIdent,...,Biology,BiologyMemo,WarsAndFights,WarsAndFightsMemo,Illustrations,TrivialCorrection,OtherRem,ID,Duplicate_y,_merge
0,108,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 15",...,0,NaN,0,NaN,0,0,"LA FRAGATA BRETAÑA, DESPUES DE HABER CORRIDO U...",936.0,0.0,both
1,109,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
2,110,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
3,111,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both
4,112,MNM,Archivo Museo Naval Madrid,Madrid,Spain,NaN,NaN,NaN,NaN,"MS. 271, doc 16",...,0,NaN,0,NaN,0,0,TODOS FONDEADOS SE DEDICAN A PONER UNA BATERIA...,1446.0,0.0,both

In [29]:
joined_set.drop_duplicates(subset=['ShipName'], keep='first', inplace=True)

pandas.core.frame.DataFrame